.idea/
__pycache__/
neuralSC_wj/
out.log
pbs-e.log
pbs.log
venv/
wmt14_3/
*.log
*.pyc
*.pickle
checkpoints/
checkpoints1/
checkpoints4/
checkpoint3to1_0/
checkpoints2/
checkpoints5/
gec_data/
temp_lstm.zip
test.predict.out
